* {
	margin:	0;
	padding: 0;
	box-sizing: border-box;
}


#main_content {
	background-color: #e3e8e5;
}

#fb_logo {
	margin-left: 150px;
	margin-top: 200px;
}

#create_new {
	background-color: #39b035;
}

form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#log_in {
	padding: 10px;
}

img {
	width: 240px; 
	height: 106px; 
	object-fit: none
}

#connect {
	font-size: 20px;
	line-height: 125%;
}

#footer1 {
	margin-left: 150px;
}

#footer2 {
	margin-left: 135px;
}

#meta {
	margin-left: 150px;
	font-size: 12px;
}


#footer1 > li {
	padding-right: 10px;
	font-size: 12px;
}

#footer2 > li {
	padding-right: 20px;
	font-size: 12px;
	display: inline-flex;
}

