* {
  box-sizing: border-box;
}

#heading > div > h1 {
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	color: white;
}

h3 {
	font-family: 'Anton', sans-serif;
	font-size: 25px;
	color: white;
}

h2 {
	font-family: 'Anton', sans-serif;
	color: white;
}
body {
  	background-image: linear-gradient(#164a41, #4d774e);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
p {
	font-family: ;
	text-align: justify;
	color: white;

}

#heading {
	align-content: center;
	text-align: center;


}

#image_with_caption {
	margin-right: 50px;
	margin-left: 50px;
}

img {
/*	float: right;*/
	width: 250px; 
	height: 287px; 
	object-fit: cover; 
	object-position: 100% 0;
}

#image_with_caption > p {
	padding-left: 50px;
 	
}
